<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="../assets/stylesheets/pages/certificates.css">
    <link rel="icon" href="../assets/media/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Otiz - Certificates.</title>
</head>
<body>
    <div>
        <h1>Certificates</h1>
    </div>

    <hr class="line-style">

    <div>
        <a href="index.html">Jorge Ortiz</a>
        <a href="contact.html">Contact me</a>
    </div>

    <hr class="line-style">

    <p>
        Certificates and degrees.
    </p>

    <hr class="line-style">

    <div>
        <img src="../assets/media/certificates/Ruby-on-Rails-Full-Course.jpg" alt="Jorge-Ortiz-Ruby-On-Rails-Full-Course" width="300px">
        <img src="../assets/media/certificates/Ruby-on-Rails-25-gems.jpg" alt="Jorge-Ortiz-Ruby-On-Rails-25-Gems-Course" width="300px">
    </div>

    <hr class="line-style"> 

    <div class="father-box">
        <span class="box">Ruby on Rails.</span>
        <span class="box">Ruby.</span>
        <span class="box">PostgreSQL.</span>
        <span class="box">MySQL.</span>
        <span class="box">Javascript</span>
        <span class="box">HTML.</span>
        <span class="box">React.</span>
    </div>

    <hr class="line-style"> 

    <div>
        <p>Hello, I'm a programmer.</p>
    </div>
    
</body>
</html>