<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="../assets/stylesheets/pages/certificates.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Otiz - Certificates.</title>
</head>
<body>
    <div>
        <h1>Certificates</h1>
    </div>

    <hr>

    <div>
        <img src="../assets/media/certificates/Ruby-on-Rails-Full-Course.jpg" alt="Jorge-Ortiz-Ruby-On-Rails-Full-Course" width="300px">
        <img src="../assets/media/certificates/Ruby-on-Rails-25-gems.jpg" alt="Jorge-Ortiz-Ruby-On-Rails-25-Gems-Course" width="300px">
    </div>

    <hr>

    <p>
        Certificates and degrees.
    </p>

    <hr>

    <div>
        <a href="index.html">Jorge Ortiz</a>
        <a href="contact.html">Contact me</a>
    </div>
</body>
</html>