<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <link rel="stylesheet" href="../assets/stylesheets/pages/contact.css">
    <link rel="icon" href="../assets/media/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jorge Ortiz - Contact me.</title>
</head>
<body>
    <div>
        <h1>Jorge Ortiz - Contact me</h1>
    </div>
    
    <div>
        <form action="index.html" method="post" enctype="text/plain">
            <p>
                <label>Name:</label>
                <input type="text" name="Name">
            </p>
            <p>
                <label>Date of birth:</label>
                <input type="date" name="Date">
            </p>
            <p>
                <label>Email:</label>
                <input type="email" name="Email">
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="Password">
            </p>
            <p>
                <label>Range:</label>
                <input type ="range" name="Range">
            </p>
            <p>
                <label>Male:</label>
                <input type ="radio" name="Genre">
                <label>Female:</label>
                <input type ="radio" name="Genre">
            </p>
            <p>
                <label>Password confirmation:</label>
                <input type="password" name="Password_confirmation">
            </p>
            <p>
                <input type="checkbox" name="Checkbox">
                <label>Remember me please.</label> <br>
            </p>
            <div>    
                <input type="submit">
            </div>
        </form>
    </div>

    <div>
        <a href="index.html">Jorge Ortiz</a>
        <a href="certificates.html">Certificates</a>
    </div>

</body>
</html>